.container {
    position: relative;
    flex-grow: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(138, 43, 226, .5);
}

.wrapper {
    padding: 0 15px;
    overflow-y: auto;
    width: 100%;
}

.thumb {
    display: flex;
    width: calc(100% - 30px);
    padding: 15px;
}


.photo {
    width: 50px;
    height: 50px;
    padding: 1px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #e0e5f3;
    overflow: hidden;
}

.name {
    font-size: 20px;
    flex-grow: 1;
}

form {
    background-color: #ffffff;
}

.input {
    display: block;
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #b1b7c5;
    border-radius: 4px;
    font-size: 20px;
}

.input::placeholder {
    font-style: italic;
    color: rgba(40, 44, 52, .8);
}