.wrapper {
    padding: 15px;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.thumb {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.thumb::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #e0e5f3;
}

.input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #b1b7c5;
    border-radius: 4px;
    font-size: 20px;
}

.input::placeholder {
    color: rgba(40, 44, 52, .8);
}

.button {
    margin-left: auto;
    margin-bottom: 20px;
}

.item {
    padding: 10px 10px;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.item:nth-child(2n) {
    background-color: #e0e5f3;
}

.description {
    display: flex;
    align-items: center;
}

.photo {
    width: 80px;
    height: 80px;
    padding: 1px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #e0e5f3;
    overflow: hidden;
}

.data {
    font-size: 16px;
    font-style: italic;
    color: rgba(40, 44, 52, .8);
}