.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    position: sticky;
    top: 75px;
    height: 91vh;
    padding: 15px;
    background-color: rgba(138, 43, 226, .5);
    margin-right: 5px;
}

/* .nav {
  margin-bottom: ;
} */

/* .nav__item  {
  margin-bottom: 30px;
} */

.link {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(55, 7, 62);
    border-bottom: 2px solid #8a2be2;
    transition: color 250ms linear, font-size 250ms linear;
}

.link:hover,
.link:focus {
    font-size: 30px;
    color: bisque
}

.linkNoBorder {
    border-bottom: none;
}

.active {
    font-size: 30px;
    color: rgb(249, 208, 157)
}

.settings {
    margin-top: auto;
}