.App {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 4fr 10fr;
  grid-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: calc(8px + 2vmin);
}

h1 {
  margin-left: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  pointer-events: none;
  width: 40px;
  height: 40px;
}

.header {
  grid-area: header;
  background-color: #282c34;
  display: flex;
  align-items: center;
padding: 15px;
  color: white;
}

.sidebar {
  grid-area: sidebar;
  padding: 15px;
  background-color: blueviolet;
}

.content {
  grid-area: content;
  padding: 15px;
  outline: 1px solid green;
}

.footer {
  background-color: rgb(131, 85, 85);
}

.banner {
  max-height: 150px;
}

.user__foto {
  width: 160px;
}